@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="well well-lg">
    <h3>Performances</h3>
    <p class="lead"> Looking for new performance in Seattle? You can find it here follow the provided link to see all performance happening in Seattle area!</p>
    <p><a href="~/Performances/Index" class="btn btn-success btn-block "> Details &raquo;</a></p>
</div>
<br />
<div class="well well-lg">
    <h3>Artists</h3>
    <p class="lead"> Looking for new performance in Seattle? You can find it here follow the provided link to see all performance happening in Seattle area!</p>
    <p><a href="~/Artists/Index" class=" btn btn-success btn-block "> Details &raquo;</a></p>
</div>

<div class="well well-lg">
    <h3>Venus</h3>
    <p class="lead"> You can find the best Venues in Seattle that offer the greatest Perfomance!</p>
    <p><a href="~/Venues/Index" class=" btn btn-success btn-block "> Details &raquo;</a></p>
</div>
